<div *ngIf="isLoading"></div>

<div class="container">
  <mat-card *ngIf="user">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <div class="user-image">
      <img [src]='user.imagePath' [alt]="user.user_name">
    </div>
    <div>
      <p>Username: {{user.user_name}} <br>
        Email: {{user.user_email}} <br>
        Street: {{user.user_address}} <br>
        City: {{user.user_city}} <br>
        State: {{user.user_state}},
        Zip: {{user.user_zip}} <br>
        Phone: {{user.user_phone}} </p>
    </div>
    <a class="col s12 m4 l4" routerLink="/users-update/{{user.id}}">UPDATE</a>

  </mat-card>
</div>
