:host {
  display: block;
  margin: 1rem auto;
}
mat-spinner {
  margin: auto;
}
mat-form-field {
   width: 100%;
 }
 mat-card {
   margin: auto;
  display: flex;
  color: black;
  background-color: rgb(114, 114, 117);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
