<mat-toolbar color="accent">
  <span>
    <a routerLink="/users-blogs-list">All Blogs</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a *ngIf="userIsAuthenticated" mat-button routerLink="/users-profile" routerLinkActive="mat-accent">
        My Profile
      </a>
    </li>
    <!-- <li>
      <a *ngIf="userIsAuthenticated" mat-button routerLink="/users-blogs-list" routerLinkActive="mat-accent">
        All Blogs
      </a>
    </li> -->
    <!-- <li>
      <a *ngIf="userIsAuthenticated && isAdmin" mat-button routerLink="/admin-users-list" routerLinkActive="mat-accent">
        List Users
      </a>
    </li> -->
    <li>
      <a *ngIf="userIsAuthenticated" mat-button routerLink="/users-new-blog" routerLinkActive="mat-accent">
        New Blog
      </a>
    </li>
    <li>
      <a *ngIf="!userIsAuthenticated" mat-button routerLink="/users-login" routerLinkActive="mat-accent">
        Login
      </a>
    </li>
    <li>
      <a *ngIf="!userIsAuthenticated" mat-button routerLink="/users-registration" routerLinkActive="mat-accent">
        Register
      </a>
    </li>
    <li>
      <a *ngIf="userIsAuthenticated" mat-button (click)="onLogoutUser()">
        Logout
      </a>
    </li>
  </ul>
</mat-toolbar>
